html, body {
	background: rgb(255, 250, 230) ;
	margin: 10;
	padding: 20;
	font-family: Verdana, arial, helvetica, sans-serif;
	font-size: 11pt;
	text-align: center;
	color: rgb(20,20,20);
	height: 100%;
}

form { 
	  text-align: left;
    float: left;
    margin: 50;
    margin-right: 10;
    padding-left: 30;
    width: 40%;
  
}

input{    
  margin-bottom: 10;
  margin-top: 5;
}

#clock{
	float: left;
	width:300;
    padding-top:30;}

.cofhour1 {
	position: absolute;
  width: 300;
    height: 300px;
      	fill:none;
	margin-top: -500;
    margin-left: -55;
	opacity: 0.8;
    }
    .cofhour2 {
	    position: absolute;
    width: 300;
    height: 300px;
    fill: none;
    margin-top: -470;
    margin-left: -40;
	opacity: 0.8;
    }
    .cofhour3 {
	    position: absolute;
      width: 300px;
    height: 300px;
      fill:none;
	margin-top: -450;
    margin-left: -20;
	opacity: 0.8;
    }

    .cofhour4 {
      position: absolute;
      width: 300px;
    height: 300px;
      fill:none;
	margin-top: -420;
    margin-left: -15;
	opacity: 0.8;
    }

     .cofhour5{
         position: absolute;
      width: 300px;
    height: 300px;
      fill:none;
	margin-top: -390;
    margin-left: -15;
	opacity: 0.8;
}
     .cofhour6{position: absolute;
         width: 300px;
    height: 300px;
    fill: none;
    margin-top: -360;
    margin-left: -30;
	opacity: 0.8;
}
.cofhour7{
position: absolute;
    width: 300px;
    height: 300px;
    fill: none;
    margin-top: -338;
    margin-left: -60;
	opacity: 0.8;
}
.cofhour8{
    position: absolute;
    width: 300px;
    height: 300px;
    fill: none;
    margin-top: -325;
    margin-left: -90;
	opacity: 0.8;
}
.cofhour9{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -320;
  margin-left: -132;
	opacity: 0.8;
}
.cofhour10{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -320;
  margin-left: -162;
	opacity: 0.8;
}
.cofhour11{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -320;
  margin-left: -195;
	opacity: 0.8;
} 
.cofhour12{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -355;
  margin-left: -230;
	opacity: 0.8;
}
.cofhour13{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -375;
  margin-left: -255;
	opacity: 0.8;
} 
.cofhour14{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -410;
  margin-left: -265;
	opacity: 0.8;
}
.cofhour15{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -440;
  margin-left: -275;
	opacity: 0.8;
}
.cofhour16{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -470;
  margin-left: -275;
	opacity: 0.8;
}
.cofhour17{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -500;
  margin-left: -260;
	opacity: 0.8;
}
.cofhour18{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -530;
  margin-left: -235;
	opacity: 0.8;
}
.cofhour19{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -555;
  margin-left: -225;
	opacity: 0.8;
}
.cofhour20{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -575;
  margin-left: -200;
	opacity: 0.8;
}
.cofhour21{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -580;
  margin-left: -160;
	opacity: 0.8;
}
.cofhour22{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -590;
  margin-left: -132;
	opacity: 0.8;
}
.cofhour23{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -580;
  margin-left: -95;
	opacity: 0.8;
}
.cofhour24{
    position: absolute;
    width: 300px;
    height: 300px;
    fill: none;
    margin-top: -560;
    margin-left: -65;
	opacity: 0.8;
}

.medhour1 {
	position: absolute;
  width: 300;
    height: 300px;
      	fill:none;
	margin-top: -500;
    margin-left: -55;
	opacity: 0.8;
    }
    .medhour2 {
	    position: absolute;
    width: 300;
    height: 300px;
    fill: none;
    margin-top: -470;
    margin-left: -40;
	opacity: 0.8;
    }
    .medhour3 {
	    position: absolute;
      width: 300px;
    height: 300px;
      fill:none;
	margin-top: -450;
    margin-left: -20;
	opacity: 0.8;
    }

    .medhour4 {
      position: absolute;
      width: 300px;
    height: 300px;
      fill:none;
	margin-top: -420;
    margin-left: -15;
	opacity: 0.8;
    }


     .medhour5{
         position: absolute;
      width: 300px;
    height: 300px;
      fill:none;
	margin-top: -390;
    margin-left: -15;
	opacity: 0.8;
}
     .medhour6{position: absolute;
         width: 300px;
    height: 300px;
    fill: none;
    margin-top: -360;
    margin-left: -30;
	opacity: 0.8;
}
.medhour7{
position: absolute;
    width: 300px;
    height: 300px;
    fill: none;
    margin-top: -338;
    margin-left: -60;
	opacity: 0.8;
}
.medhour8{
    position: absolute;
    width: 300px;
    height: 300px;
    fill: none;
    margin-top: -325;
    margin-left: -90;
	opacity: 0.8;
}
.medhour9{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -320;
  margin-left: -132;
	opacity: 0.8;
}
.medhour10{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -320;
  margin-left: -162;
	opacity: 0.8;
}
.medhour11{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -320;
  margin-left: -195;
	opacity: 0.8;
} 
.medhour12{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -355;
  margin-left: -230;
	opacity: 0.8;
}
.medhour13{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -375;
  margin-left: -255;
	opacity: 0.8;
} 
.medhour14{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -410;
  margin-left: -265;
	opacity: 0.8;
}
.medhour15{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -440;
  margin-left: -275;
	opacity: 0.8;
}
.medhour16{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -470;
  margin-left: -275;
	opacity: 0.8;
}
.medhour17{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -500;
  margin-left: -260;
	opacity: 0.8;
}
.medhour18{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -530;
  margin-left: -235;
	opacity: 0.8;
}
.medhour19{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -555;
  margin-left: -225;
	opacity: 0.8;
}
.medhour20{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -575;
  margin-left: -200;
	opacity: 0.8;
}
.medhour21{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -580;
  margin-left: -160;
	opacity: 0.8;
}
.medhour22{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -590;
  margin-left: -132;
	opacity: 0.8;
}
.medhour23{
  position: absolute;
  width: 300px;
  height: 300px;
  fill: none;
  margin-top: -580;
  margin-left: -95;
	opacity: 0.8;
}
.medhour24{
    position: absolute;
    width: 300px;
    height: 300px;
    fill: none;
    margin-top: -560;
    margin-left: -65;
	opacity: 0.8;
}


.bedhour1 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -435;
  margin-left: 25;
	opacity: 0.8;
}
.bedhour2 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -415;
  margin-left: 50;
	opacity: 0.8;
}

.bedhour3 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -390;
  margin-left: 70;
	opacity: 0.8;
}

.bedhour4 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -365;
  margin-left: 85;
	opacity: 0.8;
}
.bedhour5 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -335;
  margin-left: 90;
	opacity: 0.8;
}
.bedhour6 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -300;
  margin-left: 80;
	opacity: 0.8;
}
.bedhour7 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -270;
  margin-left: 75;
	opacity: 0.8;
}

.bedhour8 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -245;
  margin-left: 50;
	opacity: 0.8;
}

.bedhour9 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -225;
  margin-left: 25;
	opacity: 0.8;
}

.bedhour10 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -215;
  margin-left: -5;
	opacity: 0.8;
}


.bedhour11 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -215;
  margin-left: -40;
	opacity: 0.8;
}

.bedhour12 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -220;
  margin-left: -70;
	opacity: 0.8;
}

.bedhour13 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -235;
  margin-left: -95;
	opacity: 0.8;
}

.bedhour14 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -255;
  margin-left: -120;
	opacity: 0.8;
}

.bedhour15 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -275;
  margin-left: -145;
	opacity: 0.8;
}

.bedhour16 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -305;
  margin-left: -155;
	opacity: 0.8;
}

.bedhour17 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -335;
  margin-left: -160;
	opacity: 0.8;
}

.bedhour18 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -370;
  margin-left: -155;
	opacity: 0.8;
}

.bedhour19 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -400;
  margin-left: -145;
	opacity: 0.8;
}

.bedhour20 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -420;
  margin-left: -120;
	opacity: 0.8;
}

.bedhour21 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -440;
  margin-left: -95;
	opacity: 0.8;
}

.bedhour22 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -450;
  margin-left: -65;
	opacity: 0.8;
}

.bedhour23 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -460;
  margin-left: -35;
	opacity: 0.8;
}

.bedhour24 {
  position: absolute;
  width: 70px;
  height: 70px;
  fill:none;
	margin-top: -450;
  margin-left: 1;
	opacity: 0.8;
}



ul, li{
	padding: 60;
	text-align: left;

}

h1  {
	color: rgb(20,20,20);
	font-family: Verdana, arial, helvetica, sans-serif;
	text-align: center;
	padding: 5px;
	font-size: 24px;
	margin: 0px;
}

h2  {
	color: rgb(20,20,20);
	font-family: Verdana, arial, helvetica, sans-serif;
	text-align: center;
	padding: 5px;
	font-size: 21px;
	margin: 0px;
}

h3 {
	color: rgb(20,20,20);
	font-family: Verdana, arial, helvetica, sans-serif;
	text-align: center;
	padding: 0;
	font-size: 18px;
	margin: 0px;
}

h4  {
	color: rgb(20,20,20);
	font-family: Verdana, arial, helvetica, sans-serif;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	margin: 0px;
}

#links  {
	float: left;
	width: 165px;
	margin: 5px;
	border: 1px groove black;
	
}

#links a {
	display: block;
	border-top: 1px groove black;
	border-collapse:collapse;
	padding: 4px;
	text-decoration:none;
	background:transparent;
}



a:link    {color: #01145e;}
a:visited {color: #01145e;}
a:hover   {color: rgb(255,22,20)}
a:active  {color: rgb(255,22,20)}

#main {
	margin: 10px 10px 0px 200px;
	padding-bottom: 45px; /* bottom padding for footer */
	min-height: 100%;
}

#footer {
	clear: both;
	width: 100%;
	position: absolute;
	bottom: 0; /* stick to bottom */
	border-top: 1px solid black;
	text-align: center;
	font-size: 9pt;
}

#footer p {
	padding:1em;
	margin:0;
}
